@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700;800;900&display=swap');

:root{
    --main-color: #FCA600;
    --whtie-color: white;
}


*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:var(--whtie-color);
}

img{
    display: block;
}

 body{
    font-family: 'Gothic A1';
 }

.warp{
     width: 100%;
     margin: 0 auto;
 }

.main-title{
    font-size: 54px;
    color:var(--whtie-color);
    font-family: 'Black Han Sans';
}

.content-title{
    font-size: 42px;
    color: var(--whtie-color);
    font-weight: 800;
    padding-bottom: 25px;
}

.text-background::after{
    width: 100px;
    height: 50px;
    background-color: var(--main-color);
}

.button{
    width: 240px;
    height: 72px;
    border: 3px solid var(--main-color);
    border-radius: 50px;
    text-align: center;
    line-height: 75px;
    margin-top: 30px;
}

.button a{
    width: 240px;
    height: 72px;
    display: block;
    color: var(--main-color);
    font-size: 24px;
    font-weight: 700;
}

.button:hover{
    background-color: #ecececa5;
    transition: 0.8s;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 2;
}

.header-inner{
    width: 1465px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner .nav{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 800;
    padding-left: 10%;
}

.header-inner .logo span{
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.main .content01{
    height: 1080px;
}

.main .content01 video{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .content01 p{
    position: absolute;
    top: 45%;
    right: 35%;
    color: white;
    font-size: 60px;
}

.community{
    width: 100%;
    height: 100vh;
    background-image: url(img/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sub-title{
    font-size: 50px;
    padding-bottom: 45px;
    font-weight: 900;
}

.community .community-inner{
    position: absolute;
    top: 40%;
    left: 10%;
    color: var(--whtie-color);
}

.community .community-inner p{
    font-size: 32px;
    line-height: 55px;
}

.sharing{
    width: 100%;
    height: 100vh;
    background-image: url(img/02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sharing .sharing-inner{
    position: absolute;
    top: 40%;
    right: 10%;
    color: var(--whtie-color);
}

.sharing .sharing-inner p{
    font-size: 32px;
    line-height: 55px;
    text-align: right;
}

.popular{
    width: 100%;
    height: 100vh;
    background-image: url(img/03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.popular-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.content-text{
    padding-left: 100px;
}

.content-text p{
    color: var(--whtie-color);
    font-size: 26px;
    line-height: 45px;
}

.content-text .more a{
    font-size: 22px;
    font-weight: 900;
    color: var(--main-color);
}

.content-text .more{
    padding-top: 30px;
}

.content-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-sliderbox{
    display: flex;
    width: 800px;
    overflow: hidden;
}

.content-sliderbox li{
    width: 400px;
    height: 550px;
    padding-right: 5%;
}

.content-sliderbox li img{
    height: 100%;
    border-radius: 5%;
}

.content-buttons{
    display: flex;
    justify-content: space-between;
    width: 160px;
    padding-right: 40px;
}

.content-buttons div{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3.2px solid var(--main-color);
}

.content-buttons div:hover{
    background-color: #ecececa5;;
    transition: 0.8s;
}

.content-buttons .left{
    position: relative;
}

.content-buttons .left::after{
    position: absolute;
    left: 18px; 
    top: 15px;
    content: '';
    width: 15px;
    height: 15px;
    border-top: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    transform: rotate(225deg);
}

.content-buttons .rigth{
    position: relative;
}

.content-buttons .rigth::after{
    position: absolute;
    left: 13px; 
    top: 15px;
    content: '';
    width: 15px;
    height: 15px;
    border-top: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    transform: rotate(45deg);
}

.live{
    width: 100%;
    height: 100vh;
    background-image: url(img/03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.live-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 88%;
}

.video-content{
    width: 945px;
    height: 600px;
    position: relative;
}

.video-content .video iframe{
    width: 800px;
    height: 600px;
    border-radius: 25px;
}

.balloonword{
    width: 290px;
    height: 440px;
    position: absolute;
    right: -4%;
    top: 13%;
}

.balloonword li{
    width: 200px;
    height: 70px;
    background-color: var(--main-color);
    margin-bottom: 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 70px;
}

.videoconetent-text{
    color: var(--whtie-color);
    font-size: 26px;
    line-height: 45px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.make{
    width: 100%;
    height: 100vh;
    background-image: url(img/03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.make-inner{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.ex{
    padding-top: 230px;
}

.makecontent-text{
    width: 940px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.makecontent-text p{
    color: var(--whtie-color);
    font-size: 26px;
    line-height: 45px;
}

.makecontent-text .button{
    margin: 0 auto;
    margin-top: 30px;
}

.makecontent-text .button:hover{
    background-color: var(--main-color);
    transition: 0.8s;
}

.makecontent-text .button:hover a{
    color:var(--whtie-color);
    transition: 0.8s;
}

.content-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}

.content-list li{
    width: 288px;
    height: 387px;
    padding-left: 50px;
}

.content-list li img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #161616;
    color: #CCCCCC;
    font-size: 20px;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.footer-logo span{
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}