@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700;800;900&display=swap');

:root{
    --main-color: #FCA600;
    --whtie-color: white;
}


*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:var(--whtie-color);
}

img{
    display: block;
}

 body{
    font-family: 'Gothic A1';
 }

.warp{
     width: 100%;
     margin: 0 auto;
 }

.main-title{
    font-size: 54px;
    color:var(--whtie-color);
    font-family: 'Black Han Sans';
}

.sub-title{
    font-size: 46px;
    padding-bottom: 40px;
    font-weight: 900;
}

.content-title{
    font-size: 42px;
    color: var(--whtie-color);
    font-weight: 800;
    padding-bottom: 25px;
}

.bgimg{
    width: 1903px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position-x: center;
}

.button{
    width: 200px;
    height: 60px;
    border: 3px solid var(--main-color);
    border-radius: 50px;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
    transition: 0.4s;
}

.button a{
    width: 200px;
    height: 60px;
    display: block;
    color: var(--main-color);
    font-size: 22px;
    font-weight: 700;
    transition: 0.s;
}

.button:hover{
    background-color:var(--main-color);
}

.button:hover a{
    color:var(--whtie-color);
}


.underline{
    display: inline-block;
    position: relative;
}

.underline::after{
    display: block;
    content: '';
    background: var(--main-color);
    height: 30px;
    position: relative;
    top: -42px;
    z-index: 0;
}

.underline p{
    display: inline-block;
    z-index: 1;
    position: relative;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 2;
}

.header-inner{
    width: 1472px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.header-inner .nav{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 800;
    padding-left: 10%;
}

.header-inner .logo span{
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.search-inner{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #000000b6;
}

.search-box{
    width: 900px;
    height: 200px;
    background-color: #161616;
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    padding: 16px;
}

.search-box input{
    width: 500px;
    height: 70px;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 22px;
    font-family: 'Gothic A1';
    font-weight: 600;
    color: var(--main-color);
    margin-top: 40px;
}

.search-box input::placeholder{
    color: rgba(187, 187, 187, 0.37);
    font-size: 20px;
    font-weight: 300;
}

.input-box{
    border-bottom: 3px solid white;
    width: 550px;
    margin: 0 auto;
}

.input-box .search-button{
    border-style: none;
    background: none;
    cursor: pointer;
    padding-left: 12px;
}

.exit{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.exit > span {
    display: block;
    top: 50%;
    background-color: white;
    width: 25px;
    height: 3px;
    position: absolute;
    transition: 0.5s;
}

.exit:hover > span {
    background-color: var(--main-color);
}

.exit > span:nth-child(1){
    transform: rotate(45deg);
}

.exit > span:nth-child(2){
    transform: rotate(-45deg);
}

.main{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.slide-wrap{
    width: 100%;
    overflow: hidden;
}

.slide-list{
    height: 100vh;
    display: flex;
    width: 5760px;
    transform: translateX(-1701px);
}

.slide-content{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.main .slide-content video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.main .slide-content p{
    width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
    color: white;
    font-size: 60px;
}

.community{
    background-image: url(img/01.jpg);
}

.community .community-inner{
    width: 1472px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.community .community-content{
    width: 1472px;
    height: auto;
    color: var(--whtie-color);
    position: absolute;
    left: 0;
    top: 40%;
}

.community .community-inner p{
    font-size: 28px;
    line-height: 50px;
}

.sharing{
    background-image: url(img/02.jpg);
}

.sharing .sharing-inner{
    width: 1472px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.sharing .sharing-content{
    width: 1472px;
    height: auto;
    color: var(--whtie-color);
    position: absolute;
    right: 0;
    top: 40%;
    text-align: right;
}

.sharing .sharing-inner p{
    font-size: 28px;
    line-height: 50px;
}

.popular{
    background-image: url(img/03.jpg);
    overflow: hidden;
}

.popular-inner{
    width: 1472px;
    height: 100%;
    margin: 0 auto;
}

.popular-inner .popular-content{
    width: 1472px;
    height: 100%;
    display: flex;
    align-items: center;
}

.content-text{
    flex-shrink: 0;
    color: var(--whtie-color);
    font-size: 26px;
    line-height: 45px;
}

.content-text .more a{
    font-size: 22px;
    font-weight: 900;
    color: var(--main-color);
}

.content-text .more{
    padding-top: 30px;
}

.content-slider{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content-sliderbox{
    display: flex;
    width: 700px;
}

.content-sliderbox li{
    width: 400px;
    height: 550px;
    padding-right: 5%;
}

.content-sliderbox li img{
    height: 100%;
    border-radius: 5%;
}

.content-buttons{
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding-right:25px;
}

.content-buttons div{
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    transition: 0.4s;
}

.content-buttons div:hover{
    background-color: var(--main-color);
}

.content-buttons div{
    position: relative;
}

.content-buttons div::after{
    transition: 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 14px;
    height: 14px;
    border-top: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
}

.content-buttons div:hover::after{
    border-top: 4px solid var(--whtie-color);
    border-right: 4px solid var(--whtie-color);
}

.content-buttons .left::after{
    transform: translate(-40%,-50%) rotate(225deg);
    
}
.content-buttons .rigth::after{
    transform: translate(-70%,-50%) rotate(45deg);

}

.content-buttons::after:hover{
    color:var(--whtie-color);
}

.live{
    background-image: url(img/03.jpg);
}

.live-inner{
    width: 1472px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.live-content{
    width: 1472px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-content{
    width: 700px;
    height: 500px;
    position: relative;
}

.video-content .video iframe{
    width: 700px;
    height: 500px;
    border-radius: 25px;
}

.balloonword{
    width: 290px;
    height: 440px;
    position: absolute;
    right: -25%;
    top: 7%;
}

.balloonword li{
    width: 200px;
    height: 70px;
    background-color: var(--main-color);
    margin-bottom: 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 70px;
}

.videoconetent-text{
    color: var(--whtie-color);
    font-size: 26px;
    line-height: 45px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.make{
    background-image: url(img/03.jpg);
    overflow: hidden;
}

.make-inner{
    width: 1472px;
    height: 94vh;
    margin: 0 auto;
}

.make-content{
    width: 1472px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

.makecontent-text{
    width: 100%;
    text-align: center;
}

.makecontent-text p{
    color: var(--whtie-color);
    font-size: 26px;
    line-height: 45px;
}

.makecontent-text .button{
    margin: 0 auto;
    margin-top: 30px;
}

.content-listbox{
    overflow: hidden;
}

.content-list{
    width: 4000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}

.content-list li{
    width: 288px;
    height: 387px;
}

.content-list li img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

footer{
    width: 100%;
    height: 6vh;
    background-color: #161616;
    color: #CCCCCC;
    font-size: 18px;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1472px;
    height: 100%;
    margin: 0 auto;
}

.footer-logo img{
    width: 130px;
    height: auto;
}

.footer-logo span{
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}